git+https://github.com/SymbiFlow/sphinx_materialdesign_theme.git#egg=sphinx-symbiflow-theme

docutils
sphinx
sphinx-autobuild

symbolator

restructuredtext-lint

tabulate
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
